<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="../assets/images/scoubIco.gif" alt="" width="50px" height="75px">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']">
        Accueil
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['article']">
        Blog
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['historique']">
        Historiques
      </a>
    </li>
  </ul>
  <span>
    <!-- <button class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()"> Se connecter </button> -->
    <!-- <button class="btn btn-primary" *ngIf="isAuthenticated" (click)="logout()"> Se déconnecter </button> -->
  </span>
</nav>
<router-outlet></router-outlet>