<form>
    <div class="mb-3">
      <label for="email" class="form-label">Login</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Ton adresse email ne sera jamais partagée avec personne.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="passwordConfirm" class="form-label">Confirmes ton mot de passe</label>
      <input type="password" class="form-control" id="passwordConfirm">
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Ton prénom</label>
      <input type="password" class="form-control" id="prenom">
    </div>
    <button type="submit" class="btn btn-primary">Inscris moi !</button>
  </form>